<html>
<head>
<title>activity_denglu.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_denglu.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.DengLuMainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s4">&lt;!--使用线性布局--&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#F5F5F5&quot;</span><span class="s0">&gt;</span>
        <span class="s4">&lt;!--标题--&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/TitleText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_margin</span><span class="s2">=&quot;25dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;天气预报•登录&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;italic&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#808080&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;30dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!--嵌套线性布局--&gt;</span>
        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>

            <span class="s4">&lt;!--嵌套线性布局--&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/UserNameLayout&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                <span class="s4">&lt;!--用户名输入--&gt;</span>
                <span class="s0">&lt;EditText</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/UserNameEdit&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
                    <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/translucent_edit&quot;</span>
                    <span class="s1">android:hint</span><span class="s2">=&quot;输入用户名&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;24dp&quot;</span>
                    <span class="s1">android:singleLine</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s4">&lt;!--嵌套线性布局--&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/PassWordLayout&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>

                <span class="s4">&lt;!--密码输入--&gt;</span>
                <span class="s0">&lt;EditText</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/PassWordEdit&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;20dp&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
                    <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/translucent_edit&quot;</span>
                    <span class="s1">android:hint</span><span class="s2">=&quot;输入用户密码&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;24dp&quot;</span>
                    <span class="s1">android:maxLength</span><span class="s2">=&quot;16&quot;</span>
                    <span class="s1">android:singleLine</span><span class="s2">=&quot;true&quot;</span>
                    <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>

            <span class="s4">&lt;!--嵌套线性布局--&gt;</span>
            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/LayoutButton&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                <span class="s4">&lt;!--登录按钮--&gt;</span>
                <span class="s0">&lt;Button</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/LoginButton&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:layout_margin</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
                    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/translucent_bottom&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;登   录&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;24dp&quot; </span><span class="s0">/&gt;</span>

                <span class="s4">&lt;!--注册按钮--&gt;</span>
                <span class="s0">&lt;Button</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/SignUpButton&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:padding</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:layout_margin</span><span class="s2">=&quot;15dp&quot;</span>
                    <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
                    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/translucent_bottom&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;注   册&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;24dp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>