<html>
<head>
<title>activity_city_manager.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_city_manager.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_top_layout&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#F5F5F5&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_iv_back&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@mipmap/icon_back&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_iv_delete&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@mipmap/icon_write&quot;</span>
            <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;10dp&quot;</span><span class="s0">/&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_tv_title&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;城市管理&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/RelativeLayout&gt;</span>
    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_line&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#DCDCDC&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/city_top_layout&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;ListView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_lv&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/city_line&quot;</span>
        <span class="s1">android:divider</span><span class="s2">=&quot;@null&quot;</span><span class="s0">&gt;&lt;/ListView&gt;</span>
    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/city_iv_add&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@mipmap/icon_add&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFF0F0&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;3dp&quot; </span><span class="s0">/&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>